@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "inter" sans-serif !important;
}

.react-calendar__tile--active {
  background-color: #8bddf9 !important;
  color: black !important;
}

.react-calendar__navigation__label__labelText {
  font-weight: 600 !important;
}

/* .rbc-btn-group:first-child {
  display: none !important;
}

.rbc-toolbar-label {
  text-align: right !important;
  padding: 0px 20px !important;
}

.rbc-btn-group:last-child {
  font-size: 13px !important;
}

.rbc-btn-group:last-child button {
  border: none !important;
  background-color: #cbf2f6 !important;
  margin-left: 2px !important;
}

.rbc-toolbar button.rbc-active {
  background-color: aliceblue !important;
  box-shadow: none !important;
}

.rbc-time-view {
  border-color: #b5e1f0 !important;
}

.rbc-time-header {
  display: none !important;
}

.rbc-time-content {
  border: none !important;
}

.rbc-time-gutter.rbc-time-column {
  font-size: 12px !important;
}

.rbc-time-gutter.rbc-time-column.rbc-timeslot-group {
  padding: 0px 20px !important;
}

.rbc-timeslot-group {
  background-color: #b5e1f0 !important;
}

.rbc-timeslot-group .rbc-time-slot:nth-child(2) {
  display: none !important;
}

.rbc-day-slot {
  font-size: 14px !important;
}

.rbc-event {
  color: black !important;
  padding: 10px !important;
  margin: 12px !important;
  width: 99% !important;
}

.rbc-event:nth-child(1) {
  border-color: #b5e1f0 !important;
}
.rbc-event:nth-child(2) {
  border-color: #e4c9df !important;
}
.rbc-event:nth-child(3) {
  border-color: #fae161 !important;
}
.rbc-event:nth-child(4) {
  border-color: #b5e1f0 !important;
}
.rbc-event:nth-child(5) {
  border-color: #e4c9df !important;
}
.rbc-event:nth-child(6) {
  border-color: #fae161 !important;
}
.rbc-event:nth-child(7) {
  border-color: #b5e1f0 !important;
}
.rbc-event:nth-child(8) {
  border-color: #e4c9df !important;
} */
.rbc-btn-group:first-child {
  display: none !important;
}

.rbc-toolbar-label {
  text-align: right !important;
  padding: 0px 20px !important;
}

.rbc-btn-group:last-child {
  font-size: 13px !important;
}

.rbc-btn-group:last-child button {
  border: none !important;
  background-color: #f1f0ff !important;
  margin-left: 2px !important;
}

.rbc-toolbar button.rbc-active {
  background-color: #dbdafe !important;
  box-shadow: none !important;
}

.rbc-time-view {
  border-color: #eee !important;
}

.rbc-time-header {
  display: none !important;
}

.rbc-time-content {
  border: none !important;
}

.rbc-time-gutter.rbc-time-column {
  font-size: 12px !important;
}

.rbc-time-gutter.rbc-time-column .rbc-timeslot-group {
  padding: 0px 20px !important;
}

.rbc-timeslot-group {
  background-color: #f7fdff !important;
  /* min-height: 70px !important; */
}

.rbc-day-slot {
  font-size: 14px !important;
}

.rbc-event {
  border: none !important;
  color: black !important;
  padding: 10px !important;
  margin: 10px !important;
  height: 4rem !important;
  width: 99% !important;
}

.rbc-event:nth-child(1) {
  background-color: #cbf2f6 !important;
}
.rbc-event:nth-child(2) {
  background-color: #fae161 !important;
}
.rbc-event:nth-child(3) {
  background-color: #e4c9df !important;
}
.rbc-event:nth-child(4) {
  background-color: #fdf2fb !important;
}
.rbc-event:nth-child(5) {
  background-color: #cbf2f6 !important;
}
.rbc-event:nth-child(6) {
  background-color: #fae161 !important;
}
.rbc-event:nth-child(7) {
  background-color: #e4c9df !important;
}
.rbc-event:nth-child(8) {
  background-color: #fdf2fb !important;
}

.rbc-event-label {
  color: gray !important;
  margin-bottom: 5px;
}
